<div class="col-xs-12 col-sm-6 offset-sm-3 example-col">
  <div class="card">
      <div class="card-block">
  
          <form class="k-form" [formGroup]="editForm" (ngSubmit)="onEdit()">
              <fieldset>
                  <legend>Edit Company Details</legend>

                  <label class="k-form-field">
                      <span>Company Name: <span class="k-required">*</span></span>
                      <input class="k-textbox" type="text" formControlName="CompanyName" placeholder="Company Name" />
                    
                  </label>
                  <label class="k-form-field">
                    <span><b>Company Contacts: </b></span>
                    
                      <span>First Name <span class="k-required">*</span></span>
                      <input class="k-textbox" type="text" formControlName="FirstName" placeholder="Your First Name" />
                  </label>
                  <label class="k-form-field">
                      <span>Last Name <span class="k-required">*</span></span>
                      <input class="k-textbox" type="text" formControlName="LastName" placeholder="Your Last Name" />
                  </label>
                  <label class="k-form-field">
                      <span>Email <span class="k-required">*</span></span>
                      <input class="k-textbox" type="text" formControlName="Email" placeholder="Your Email" />
                  </label>
                  <label class="k-form-field">
                      <span>Phone Number <span class="k-required">*</span></span>
                      <input class="k-textbox" type="text" formControlName="PhoneNumber" placeholder="Your Phone Number" />
                  </label>
                  
                  <div class="k-form-field">
                      <span><b>Company Address: </b></span>

                      <label class="k-form-field">
                          <span>Street<span class="k-required">*</span></span>
                          <input class="k-textbox" type="text" formControlName="Street" placeholder="Street" />
                      </label>
                      <label class="k-form-field">
                          <span>City<span class="k-required">*</span></span>
                          <input class="k-textbox" type="text" formControlName="City" placeholder="City" />
                      </label>

                      <label class="k-form-field">
                                  <span>State <span class="k-required">*</span></span>
                                  <kendo-autocomplete
                                     [data]="stateItems"
                                     formControlName="State"
                                     [placeholder]="'e.g. Georgia'"
                                        >
                                 </kendo-autocomplete>
                      </label>
                   
                      <label class="k-form-field">
                          <span>Zip code <span class="k-required">*</span></span>
                          <input class="k-textbox" type="text" formControlName="ZipCode" placeholder="Zip code" />
                      </label>

                  </div>

                  <div class="k-form-field">
                        <p>Company Status: <span class="k-required">*</span></p>
                              <kendo-dropdownlist 
                              formControlName="Status"
                              [data]="listItems"  [value]="'Researching'"             
                              >
                              </kendo-dropdownlist>


                  </div>
                  <div class="k-form-field">
                      <span><b>Company Financial Information: </b></span>

                      <label class="k-form-field">
                          <span>Net Profit <span class="k-required">*</span></span>
                          <input class="k-textbox" type="text" formControlName="Profit" placeholder="Net Profit" />
                      </label>
                      <label class="k-form-field">
                          <span>Number of Orders <span class="k-required">*</span></span>
                          <input class="k-textbox" type="text" formControlName="Orders" placeholder="Order" />
                      </label>
                  </div>

              </fieldset>


              <div class="text-right">
                <button type="submit" class="k-button k-primary">Submit</button>
              
              </div>
          </form>
      </div>
  </div>
</div>
